{% extends "pcradmin/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns textcenter">
            <h1>Dashboard</h1>
            <br><a class="button" href="../sendmail">Send Mails</a>
            <br><a class="button" href="../userstatus">Switch User Status</a>
            <br><a class="button" href="../change_team_limit">Set Individual Team Limits</a>
            <br><a class="button" href="../changesportslimit">Set Normal Sport Limits</a>
        </div>
    </div>
</div>
{% endblock body %}