{% extends "pcradmin/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns textcenter">
            <h1>Set User Status</h1>
            <form action= "../setstatus" method = "POST">
                {% csrf_token %}            
            <table class= "u-full-width">
            <tbody>
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>College</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Select</th>
                </tr>
            </tbody>
            {% for p in users reversed %}
            <tbody>
            <tr>
                {% if p.is_active %}
                    <th style="color: green">Active</th>
                {% else %}
                    <th style="color: red">Inactive</th>
                {% endif %}
                <td>{% for u in p.userprofile_set.all %}{{u}}{% endfor %}</td>
                <td>{% for u in p.userprofile_set.all %}{{u.college}}{% endfor %}</td>
                <td>{{p.username}}</td>
                <td>{{p.email}}</td>
                <td><input type="radio" name="username" value= {{p.username}} /></td>           
            </tr>
            </tbody>
            {% endfor %}
    </table>
    
    <button type="submit">set status</button>
</form>
        </div>
    </div>
</div>
{% endblock body %}